In [ ]:
#Pandas
#Pandas is a popular open-source Python library used for data manipulation and analysis. 
#It works with two main data structures:
#Series: A 1D array (like a column)
#Series: A 1D labeled array, like a single column in a table.
#DataFrame: A 2D table (like a full spreadsheet)
#DataFrame: A 2D labeled data structure, like a table in Excel or a SQL table.

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\monik\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\monik\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\monik\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\monik\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\monik\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\monik\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv") #sample data set

'''Use pandas (pd)

Read in a CSV file using read_csv

Store the result in a variable called df, which is your DataFrame.'''

df.head() # will print first 5 rows

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
df.shape         # (rows, columns)

(150, 5)

In [23]:
df.columns      # List of column names

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [6]:
df.info()        # Data types and nulls

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
df.describe()    # Summary stats (mean, std, etc.)

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [8]:
df.head()        # First 5 rows

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
df.tail()        # Last 5 rows

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [11]:
# Filter rows where species is 'setosa'
df_setosa = df[df['species'] == 'setosa']
print(df_setosa)

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.2  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.6           1.4          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

In [12]:
# Filter where petal_length > 1.5
df_large_petal = df[df['petal_length'] > 1.5]
print(df_large_petal)

     sepal_length  sepal_width  petal_length  petal_width    species
5             5.4          3.9           1.7          0.4     setosa
11            4.8          3.4           1.6          0.2     setosa
18            5.7          3.8           1.7          0.3     setosa
20            5.4          3.4           1.7          0.2     setosa
23            5.1          3.3           1.7          0.5     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[113 rows x 5 columns]

In [13]:
# Sort by sepal_width
df_sorted = df.sort_values(by='sepal_width', ascending=False)
print(df_sorted)

     sepal_length  sepal_width  petal_length  petal_width     species
15            5.7          4.4           1.5          0.4      setosa
33            5.5          4.2           1.4          0.2      setosa
32            5.2          4.1           1.5          0.1      setosa
14            5.8          4.0           1.2          0.2      setosa
5             5.4          3.9           1.7          0.4      setosa
..            ...          ...           ...          ...         ...
53            5.5          2.3           4.0          1.3  versicolor
62            6.0          2.2           4.0          1.0  versicolor
68            6.2          2.2           4.5          1.5  versicolor
119           6.0          2.2           5.0          1.5   virginica
60            5.0          2.0           3.5          1.0  versicolor

[150 rows x 5 columns]

In [14]:
# Rows where petal_length > 5.0
df_length=df[df['petal_length']>5.0]
print(df_length)

     sepal_length  sepal_width  petal_length  petal_width     species
83            6.0          2.7           5.1          1.6  versicolor
100           6.3          3.3           6.0          2.5   virginica
101           5.8          2.7           5.1          1.9   virginica
102           7.1          3.0           5.9          2.1   virginica
103           6.3          2.9           5.6          1.8   virginica
104           6.5          3.0           5.8          2.2   virginica
105           7.6          3.0           6.6          2.1   virginica
107           7.3          2.9           6.3          1.8   virginica
108           6.7          2.5           5.8          1.8   virginica
109           7.2          3.6           6.1          2.5   virginica
110           6.5          3.2           5.1          2.0   virginica
111           6.4          2.7           5.3          1.9   virginica
112           6.8          3.0           5.5          2.1   virginica
114           5.8          2.8           5.1          2.4   virginica
115           6.4          3.2           5.3          2.3   virginica
116           6.5          3.0           5.5          1.8   virginica
117           7.7          3.8           6.7          2.2   virginica
118           7.7          2.6           6.9          2.3   virginica
120           6.9          3.2           5.7          2.3   virginica
122           7.7          2.8           6.7          2.0   virginica
124           6.7          3.3           5.7          2.1   virginica
125           7.2          3.2           6.0          1.8   virginica
128           6.4          2.8           5.6          2.1   virginica
129           7.2          3.0           5.8          1.6   virginica
130           7.4          2.8           6.1          1.9   virginica
131           7.9          3.8           6.4          2.0   virginica
132           6.4          2.8           5.6          2.2   virginica
133           6.3          2.8           5.1          1.5   virginica
134           6.1          2.6           5.6          1.4   virginica
135           7.7          3.0           6.1          2.3   virginica
136           6.3          3.4           5.6          2.4   virginica
137           6.4          3.1           5.5          1.8   virginica
139           6.9          3.1           5.4          2.1   virginica
140           6.7          3.1           5.6          2.4   virginica
141           6.9          3.1           5.1          2.3   virginica
142           5.8          2.7           5.1          1.9   virginica
143           6.8          3.2           5.9          2.3   virginica
144           6.7          3.3           5.7          2.5   virginica
145           6.7          3.0           5.2          2.3   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

In [ ]:
# Sort by petal_width
df_sort=df.sort_values(by='petal_width',ascending=True)
print(df_sort)

     sepal_length  sepal_width  petal_length  petal_width    species
12            4.8          3.0           1.4          0.1     setosa
13            4.3          3.0           1.1          0.1     setosa
9             4.9          3.1           1.5          0.1     setosa
32            5.2          4.1           1.5          0.1     setosa
37            4.9          3.6           1.4          0.1     setosa
..            ...          ...           ...          ...        ...
136           6.3          3.4           5.6          2.4  virginica
114           5.8          2.8           5.1          2.4  virginica
109           7.2          3.6           6.1          2.5  virginica
100           6.3          3.3           6.0          2.5  virginica
144           6.7          3.3           5.7          2.5  virginica

[150 rows x 5 columns]

In [18]:
# Group by species and calculate average sepal_length
average_sepal_length = df.groupby('species')['sepal_length'].mean()

# Display the result
print(average_sepal_length)

#🧠 What’s Happening:
#groupby('species'): Groups the data by the species column.
#['sepal_length']: Focuses on the sepal_length column.
#mean(): Calculates the average of sepal_length for each species.

species
setosa        5.006
versicolor    5.936
virginica     6.588
Name: sepal_length, dtype: float64

In [19]:
#Handling Missing Data (NaN)

#Remove rows with missing data:
df.dropna(inplace=True)

#Fill missing values:
df.fillna(value=0, inplace=True)  # Replace NaNs with 0

In [24]:
# Fill missing values in 'sepal_length' with the column mean
df['sepal_length'] = df['sepal_length'].fillna(df['sepal_length'].mean())

In [25]:
#Removing Duplicates
#Duplicates can mess up your analysis. You can drop them easily.

df.drop_duplicates(inplace=True)

In [26]:
#Converting Data Types
#Sometimes, columns aren’t in the right format (e.g., numbers stored as strings). You can convert the data types using .astype().
# Convert 'sepal_length' to float
df['sepal_length'] = df['sepal_length'].astype(float)

In [27]:
#String Manipulations
#You might need to clean text columns. Pandas provides a lot of string methods.

#remove extra spaces
df['species'] = df['species'].str.strip()

#convert into lower case 
df['species'] = df['species'].str.lower()